apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/kutt
  - kutt.sops.yaml
patches:
  # MIGRATION: Keep postgres-bitnami.hr.yaml patch until migration is complete
  - path: postgres-bitnami.hr.yaml
    target:
      kind: HelmRelease
      name: kutt-postgresql
  - path: postgres.hr.yaml
    target:
      kind: HelmRelease
      name: kutt-postgresql-cnpg
  - path: redis.hr.yaml
    target:
      kind: HelmRelease
      name: kutt-redis
  - path: kutt.hr.yaml
    target:
      name: kutt
      kind: HelmRelease
