apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/authelia
  - authelia.sops.yaml
  - users.sops.yaml
patches:
  # MIGRATION: Keep postgres-bitnami.hr.yaml patch until migration is complete
  - path: postgres-bitnami.hr.yaml
    target:
      kind: HelmRelease
      name: authelia-postgresql
  - path: postgres.hr.yaml
    target:
      kind: HelmRelease
      name: authelia-postgresql-cnpg
  - path: redis.hr.yaml
    target:
      kind: HelmRelease
      name: authelia-redis
  - path: authelia.hr.yaml
    target:
      kind: HelmRelease
      name: authelia
