---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 80.9.2
      sourceRef:
        kind: HelmRepository
        name: prometheus-charts
        namespace: default
      interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  valuesFrom:
    - kind: Secret
      name: grafana-auth-secrets
      valuesKey: grafana-client-secret
      targetPath: grafana.env.GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
      optional: false
  values:
    alertmanager:
      image:
        tag: v0.30.0
      ingress:
        hosts:
          - "alert-manager.${SECRET_DOMAIN}"
    grafana:
      image:
        tag: 12.3.1
      env:
        GF_SERVER_ROOT_URL: https://grafana.${SECRET_DOMAIN}
        GF_AUTH_GENERIC_OAUTH_ENABLED: "true"
        GF_AUTH_GENERIC_OAUTH_NAME: "authentik"
        GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "grafana"
        GF_AUTH_GENERIC_OAUTH_SCOPES: "openid profile email"
        GF_AUTH_GENERIC_OAUTH_AUTH_URL: "https://auth2.${SECRET_DOMAIN}/application/o/authorize/"
        GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "https://auth2.${SECRET_DOMAIN}/application/o/token/"
        GF_AUTH_GENERIC_OAUTH_API_URL: "https://auth2.${SECRET_DOMAIN}/application/o/userinfo/"
        GF_AUTH_SIGNOUT_REDIRECT_URL: "https://auth2.${SECRET_DOMAIN}/application/o/grafana/end-session/"
        # Optionally enable auto-login (bypasses Grafana login screen)
        GF_AUTH_OAUTH_AUTO_LOGIN: "true"
        # Optionally map user groups to Grafana roles
        GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups[*], 'Grafana Admins') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'"
      ingress:
        hosts:
          - "grafana.${SECRET_DOMAIN}"
    prometheus:
      image:
        tag: v3.8.1
      ingress:
        hosts:
          - "prometheus.${SECRET_DOMAIN}"
