apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-blueprint
  namespace: default
data:
  grafana.yaml: |
    version: 1
    metadata:
      name: grafana-oauth
    entries:
      # Create an OAuth2/OIDC Provider
      - model: authentik_providers_oauth2.oauth2provider
        id: grafana-provider
        identifiers:
          client_id: grafana
        attrs:
          name: Grafana OAuth Provider
          authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
          invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
          client_type: confidential
          client_id: grafana
          client_secret: !Env GRAFANA_CLIENT_SECRET
          redirect_uris:
            - matching_mode: strict
              url: https://grafana.${SECRET_DOMAIN}/login/generic_oauth
          signing_key: !Find [authentik_crypto.certificatekeypair, [name, "authentik Self-signed Certificate"]]
          property_mappings:
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, "openid"]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, "email"]]
            - !Find [authentik_providers_oauth2.scopemapping, [scope_name, "profile"]]
      # Create the Application
      - model: authentik_core.application
        id: grafana-app
        identifiers:
          slug: grafana
        attrs:
          name: Grafana
          slug: grafana
          provider: !KeyOf grafana-provider
          meta_launch_url: https://grafana.${SECRET_DOMAIN}
          meta_icon: https://raw.githubusercontent.com/grafana/grafana/main/public/img/grafana_icon.svg
          meta_description: Grafana Monitoring Dashboard
          policy_engine_mode: any
