---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 56.16.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-charts
        namespace: default
      interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    prometheus-node-exporter:
      tolerations:
        - effect: NoSchedule
          operator: Exists
        - effect: NoExecute
          operator: Exists
    prometheusOperator:
      createCustomResource: false
    kubeControllerManager:
      enabled: false
    kubeScheduler:
      enabled: false
    kubeEtcd:
      enabled: false
    kubeProxy:
      enabled: false
    alertmanager:
      image:
        registry: quay.io
        repository: prometheus/alertmanager
        tag: v0.30.0
      ingress:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: default-forwardauth-authelia@kubernetescrd
        pathType: Prefix
        hosts:
          - "alert-manager.${SECRET_DOMAIN}"
      config:
        global:
          resolve_timeout: 5m
    grafana:
      enabled: true
      image:
        repository: grafana/grafana
        tag: 10.4.19
      admin:
        existingSecret: grafana-secrets
      env:
        GF_SERVER_ROOT_URL: https://grafana.${SECRET_DOMAIN}
        GF_AUTH_GENERIC_OAUTH_ENABLED: true
        GF_AUTH_GENERIC_OAUTH_NAME: Authelia
        GF_AUTH_GENERIC_OAUTH_CLIENT_ID: grafana
        GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: ${OIDC_GRAFANA_CLIENT_SECRET}
        GF_AUTH_GENERIC_OAUTH_SCOPES: openid profile email groups
        GF_AUTH_GENERIC_OAUTH_EMPTY_SCOPES: false
        GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://auth.${SECRET_DOMAIN}/api/oidc/authorization
        GF_AUTH_GENERIC_OAUTH_TOKEN_URL: https://auth.${SECRET_DOMAIN}/api/oidc/token
        GF_AUTH_GENERIC_OAUTH_API_URL: https://auth.${SECRET_DOMAIN}/api/oidc/userinfo
        GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH: preferred_username
        GF_AUTH_GENERIC_OAUTH_GROUPS_ATTRIBUTE_PATH: groups
        GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH: name
        GF_AUTH_GENERIC_OAUTH_USE_PKCE: true
      dashboardProviders:
        dashboardproviders.yaml:
          apiVersion: 1
          providers:
            - name: "default"
              orgId: 1
              folder: ""
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/default
      plugins:
        - grafana-piechart-panel
      dashboards:
        default:
          flux-cluster:
            url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/refs/heads/main/monitoring/configs/dashboards/cluster.json
            datasource: Prometheus
          flux-control-plane:
            url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/refs/heads/main/monitoring/configs/dashboards/control-plane.json
            datasource: Prometheus
          ingress-traefik:
            gnetId: 17347
            revision: 7
            datasource: Prometheus
          postgresql:
            gnetId: 9628
            revision: 7
            datasource: Prometheus
      sidecar:
        dashboards:
          enabled: true
          searchNamespace: ALL
        datasources:
          enabled: true
          searchNamespace: ALL
      serviceMonitor:
        enabled: true
      ingress:
        enabled: true
        pathType: Prefix
        hosts:
          - "grafana.${SECRET_DOMAIN}"
    prometheus:
      image:
        registry: quay.io
        repository: prometheus/prometheus
        tag: v3.2.1
      ingress:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: default-forwardauth-authelia@kubernetescrd
        pathType: Prefix
        hosts:
          - "prometheus.${SECRET_DOMAIN}"
      prometheusSpec:
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        retention: 7d
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 25Gi
