---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 80.9.2
      sourceRef:
        kind: HelmRepository
        name: prometheus-charts
        namespace: default
      interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    prometheus-node-exporter:
      tolerations:
        - effect: NoSchedule
          operator: Exists
        - effect: NoExecute
          operator: Exists
    prometheusOperator:
      createCustomResource: false
    kubeControllerManager:
      enabled: false
    kubeScheduler:
      enabled: false
    kubeEtcd:
      enabled: false
    kubeProxy:
      enabled: false
    alertmanager:
      image:
        registry: quay.io
        repository: prometheus/alertmanager
      ingress:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: default-forwardauth-authelia@kubernetescrd
        pathType: Prefix
      config:
        global:
          resolve_timeout: 5m
    grafana:
      enabled: true
      image:
        repository: grafana/grafana
      admin:
        existingSecret: grafana-secrets
      dashboardProviders:
        dashboardproviders.yaml:
          apiVersion: 1
          providers:
            - name: "default"
              orgId: 1
              folder: ""
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/default
      plugins:
        - grafana-piechart-panel
      dashboards:
        default:
          flux-cluster:
            url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/monitoring-config/dashboards/cluster.json
            datasource: Prometheus
          flux-control-plane:
            url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/monitoring-config/dashboards/control-plane.json
            datasource: Prometheus
          ingress-traefik:
            gnetId: 17347
            revision: 7
            datasource: Prometheus
          postgresql:
            gnetId: 9628
            revision: 7
            datasource: Prometheus
          redis:
            gnetId: 11835
            revision: 1
            datasource: Prometheus
      sidecar:
        dashboards:
          enabled: true
          searchNamespace: ALL
        datasources:
          enabled: true
          searchNamespace: ALL
      serviceMonitor:
        enabled: true
      ingress:
        enabled: true
        pathType: Prefix
    prometheus:
      image:
        registry: quay.io
        repository: prometheus/prometheus
      ingress:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: default-forwardauth-authelia@kubernetescrd
        pathType: Prefix
      prometheusSpec:
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        retention: 7d
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: longhorn
              resources:
                requests:
                  storage: 25Gi
