apiVersion: longhorn.io/v1beta2
kind: Setting
metadata:
  name: backup-target
  namespace: longhorn-system
# Backblaze B2: region is a placeholder (actual endpoint specified in secret)
value: s3://prod-node-longhorn-backup@dummyregion/
---
apiVersion: longhorn.io/v1beta2
kind: Setting
metadata:
  name: backup-target-credential-secret
  namespace: longhorn-system
value: longhorn-backup-secret

